<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">
      <img [src]="logoPath" alt="Logo" class="navbar-logo-img">
    </a>
    
    <button class="navbar-toggle" (click)="toggleMenu()" [class.active]="menuOpen">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <ul class="navbar-menu" [class.active]="menuOpen">
      <li *ngFor="let route of routes" class="navbar-item">
        <a [href]="route.path" class="navbar-link" (click)="closeMenu()">
          {{ route.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>